# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

choice KLUTSHNIK_INTERFACE
        prompt "USE BLE or USB for klutshnik operations"
        help
          Select which communication medium to use with your klutshnik device

config KLUTSHNIK_BLE
        bool "Whether to enable BLE interface of klutshnik"
        depends on BT_PERIPHERAL
        help
          If set to true, klutshnik will use Bluetooth LE for primary communication with the client.

 config KLUTSHNIK_USB_CDC
         bool "wether to enable the USB CDC/ACM interface of klutshnik"

endchoice # KLUTSHNIK_INTERFACE

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = KLUTSHNIK
module-str = Klutshnik module
source "subsys/logging/Kconfig.template.log_config"
