/ {
 fstab {
     compatible = "zephyr,fstab";
     lfs1: lfs1 {
         compatible = "zephyr,fstab,littlefs";
         mount-point = "/lfs";
         partition = <&lfs1_partition>;
         automount;
         read-size = <16>;
         prog-size = <16>;
         cache-size = <256>;
         lookahead-size = <32>;
         block-cycles = <512>;
     };
 };
 chosen {
    zephyr,console = &cdc_acm_uart0;
    //zephyr,shell-uart = &cdc_acm_uart0;
 };
};

/* 64MB flash */
&flexspi {
	/* WINBOND flash memory*/
	w25q64jvxgim: w25q64jvxgim@0 {
      partitions {
         compatible = "fixed-partitions";
         #address-cells = <1>;
         #size-cells = <1>;

         /* Use second half of flash for the filesystem. */
         lfs1_partition: partition@400000 {
            label = "storage";
            reg = <0x400000 DT_SIZE_M(4)>;
         };
      };
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
